<table style="width:100%">
  <tr class="tupper heading">
    <th style="width: 17.5%">Day</th>
    <th style="width: 5%"></th>
    <th style="width: 17.5%">Description</th>
    <th>High</th>
    <th>Low</th>
    <th>Wind</th>
    <th>Precipitation</th>
    <th>Humidity</th>
  </tr>
  <tr class="tupper" *ngFor="let daily of (dailyState | async).dailyArray | slice:0:10; let i = index">
    <td style="width: 17.5%">
      {{ daily.date.weekday_short }}. <b>{{ daily.date.monthname_short }}. {{ daily.date.day }}</b>
    </td>
    <td style="width: 5%"><img src="{{ daily.icon_url }}" alt="{{ daily.conditions }}"></td>
    <td style="width: 17.5%">{{ daily.conditions }}</td>
    <td>{{ daily.high.fahrenheit }}°F</td>
    <td>{{ daily.low.fahrenheit }}°F</td>
    <td>{{ daily.avewind.mph }} mph</td>
    <td>{{ daily.pop }}%</td>
    <td>{{ daily.avehumidity }}%</td>
  </tr>
</table>
