.row {
  padding-top: 50px;
  margin-bottom: 100px;
}
.leftColumn {
  text-align: center;
}
h2 {
  font-size: 36px;
  color: #434343;
  letter-spacing: 0.4px;
}
.circle {
  width: 258px;
  height: 258px;
  border: solid 8px #62d657;
  margin-top: 15px;
  border-radius: 50%;
  display:table-cell;
  vertical-align:middle;
  display: inline-block;
  padding-top: 40px;
}
p {
  opacity: 0.75;
  font-size: 22px;
  letter-spacing: 0.3px;
  color: #434343;
}
h1 {
  font-size: 64px;
  letter-spacing: 0.3px;
  color: #62d657;
}
.map {
  overflow: hidden;
  padding: 0;
  margin: 30px 0;
}
.rightColumn {
  text-align: center;
}
.rightColumn h3 {
  font-size: 24px;
  letter-spacing: 0.3px;
  color: #434343;
}
.col-xs-4 img {
  width: 100px;
}
