<div class="container header">
  <div class="row">
    <div class="col-xs-5">
      <h3>{{ today | date:'MMM dd, y EEE h:mm a'}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <form class="form-group" #f="ngForm">
        <input type="search"
          #autocomplete
          autofocus
          (keyup)="runAutocomplete(autocomplete.value)"
          class="form-control"
          placeholder="San Francisco"
          value="{{ inputValue }}"/>
      </form>
      <app-searchdrop></app-searchdrop>
    </div>
    <div class="col-xs-6 nav-buttons">
      <div class="button-group">
        <button
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Today
        </button>
        <button
          routerLink="/hourly"
          routerLinkActive="active">Hourly
        </button>
        <button
          routerLink="/daily"
          routerLinkActive="active">10 day
        </button>
      </div>
    </div>
  </div>
</div>
<div class="contents">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
