<table style="width:100%">
  <tr class="tupper">
    <th>Time</th>
    <th>Skies</th>
    <th>Description</th>
    <th>Temp</th>
    <th>Feels</th>
    <th>Humidity</th>
  </tr>
  <tr class="tupper" *ngFor="let hour of (hourlyState | async).hourlyArray | slice:0:12; let i = index">
    <td>
      <b>{{ hour.FCTTIME.civil }}, {{ hour.FCTTIME.weekday_name_abbrev}}</b>
    </td>
    <td><img src="{{ hour.icon_url }}" alt="{{ hour.condition}}"></td>
    <td><b>{{ hour.condition }}</b></td>
    <td>{{ hour.temp.english }} °F</td>
    <td>{{ hour.feelslike.english }} °F</td>
    <td>{{ hour.humidity }}%</td>
  </tr>
</table>
<h1 *ngIf="((hourlyState | async).hourlyArray === 'null')">Invalid Search. Please try again</h1>
