<table>
  <tr class="tupper heading">
    <th style="width: 25%;">Time</th>
    <th style="width: 5%"></th>
    <th style="width: 25%;">Description</th>
    <th>Temp</th>
    <th>Feels</th>
    <th>Humidity</th>
  </tr>
  <tr class="tupper" *ngFor="let hour of (hourlyState | async).hourlyArray | slice:0:12; let i = index">
    <td style="width: 25%;">
      <span>{{ hour.FCTTIME.civil }} </span>
      <b>{{ hour.FCTTIME.weekday_name_abbrev }}</b>
    </td>
    <td style="width: 5%;"><img src="{{ hour.icon_url }}" alt="{{ hour.condition}}"></td>
    <td style="width: 25%;">{{ hour.condition }}</td>
    <td>{{ hour.temp.english }}°F</td>
    <td>{{ hour.feelslike.english }} °F</td>
    <td>{{ hour.humidity }}%</td>
  </tr>
</table>
