/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Readventor";
  src: url("./assets/fonts/texgyreadventor-regular.otf");
  src: url("./assets/fonts/texgyreadventor-bold.otf") format("bold");
}
body,
.container {
  min-width: 1000px;
}
body {
  background-color: #f6f6f6;
}
* {
  font-family: "Readventor", Helvetica, Verdana, sans-serif;
}
/*.container {
  min-width: 950px;
}*/
